.container {
    display: flex;
    list-style: none;
    padding: 0;
}

.linkItem {
    padding: 0 15px;
}

.linkItem a {
    color: #000;
}

.linkItem a:hover {
    color: #FFF;
    border-bottom: 1px solid #FFF;
}

.linkItem a:hover {
    color: #FFF;
    border-bottom: 1px solid #FFF;
}

.linkActive a{
    color: blue;
    border-bottom: 1px solid #FFF;
}